DATABASE_URL=your_postgresql_url
PORT=3001
STREAKPAY_ADDRESS=0x9feA9ab28B7D5902958dDf2d4e40A78FFdC00577
INJECTIVE_RPC=https://k8s.testnet.json-rpc.injective.network/
ENCRYPTION_KEY=your_32_byte_hex_key
RELAYER_PRIVATE_KEY=your_relayer_private_key
USDT_ADDRESS=0x4ed7c70F96B99c776995fB64377f0d4aB3B0e1C1
RESEND_API_KEY=your_resend_api_key
JWT_SECRET=your_jwt_secret
